<nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <h3>{{title}}</h3>
  </div>

  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/beers" routerLinkActive="active">View Beers</a></li>
      <li (click)="logout()"><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>

<div *ngIf="(user$ | async)" class="row text-center">
  <h2 class="">
    Welcome, {{ ( user$ | async ).fullName }}.
  </h2>
</div>

<sp-authport></sp-authport>

<div class="container">
<router-outlet></router-outlet>
</div>
